* {
    font-size: 24;
}

noplay {
    background: #404040;
    color: #d0d0d0;
}

failed {
    background: #d04040;
    color: #3b434a;
}

a-easy {
    background: #8080dd;
    color: #3b434a;
}

la-easy {
    background: #dd80dd;
    color: #3b434a;
}

easy {
    background: #80dd80;
    color: #3b434a;
}

clear {
    background: #ffa040;
    color: #3b434a;
}

hard {
    background: #dddddd;
    color: #3b434a;
}

exhard {
    background: #ffdd20;
    color: #3b434a;
}

fullcombo {
    background: #80dddd;
    color: #200080;
}

perfect {
    background: #ffff40;
    color: #502020;
}

maxclear {
    background: #80ff80;
    color: #206020;
}